@font-face {
  font-family: "Phosphor";
  src: url("./Phosphor.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.ph {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "Phosphor" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ph.ph-arrow-clockwise:before {
  content: "\e938";
}
.ph.ph-arrow-counter-clockwise:before {
  content: "\e939";
}
.ph.ph-broom:before {
  content: "\e9d7";
}
.ph.ph-bug:before {
  content: "\e9da";
}
.ph.ph-check:before {
  content: "\ea30";
}
.ph.ph-check-circle:before {
  content: "\ea31";
}
.ph.ph-circle-notch:before {
  content: "\ea3b";
}
.ph.ph-download-simple:before {
  content: "\eab6";
}
.ph.ph-folder-open:before {
  content: "\eb29";
}
.ph.ph-github-logo:before {
  content: "\eb53";
}
.ph.ph-hard-drives:before {
  content: "\eb83";
}
.ph.ph-info:before {
  content: "\eba7";
}
.ph.ph-lock:before {
  content: "\ebd1";
}
.ph.ph-lock-open:before {
  content: "\ebd7";
}
.ph.ph-lock-simple:before {
  content: "\ebd8";
}
.ph.ph-magic-wand:before {
  content: "\ebda";
}
.ph.ph-magnifying-glass:before {
  content: "\ebdd";
}
.ph.ph-package:before {
  content: "\ec3c";
}
.ph.ph-shield-check:before {
  content: "\ecd3";
}
.ph.ph-shield-warning:before {
  content: "\ecd9";
}
.ph.ph-sparkle:before {
  content: "\ed0a";
}
.ph.ph-squares-four:before {
  content: "\ed20";
}
.ph.ph-tag:before {
  content: "\ed4a";
}
.ph.ph-warning:before {
  content: "\edbf";
}
.ph.ph-warning-circle:before {
  content: "\edc0";
}
.ph.ph-x-circle:before {
  content: "\eddc";
}
